body {
            font: 400 15px Tahoma, sans-serif;
            line-height: 1.8;
            color: #4D4D4D;
            background-color: #f6f6f6;
        }  
       
h1 {
            background-color:#063EC3; 
            color: #fff;
            text-transform: uppercase;
            padding: 100px 25px;
            text-align: center;     
        }